---
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import { SEO } from "astro-seo"
import { ViewTransitions } from "astro:transitions";

const { pageTitle, pageDescription } = Astro.props
const displayTitle = pageTitle ? `${pageTitle} | miruoo's Blog` : `miruoo's Blog`
const ogpTitle = pageTitle ? `${pageTitle} | miruoo's Blog` : `miruoo's Blog - Web/Mobile Development tips`
const displayDescription = pageDescription ? pageDescription : `miruoo's Blog is Blog site about Web/Mobile Development tips`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const resolvedImageWithDomain = new URL(
  "/miruoo's_blog.png",
  Astro.site
).toString();
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
		  title={displayTitle}
			description={displayDescription}
			canonical={canonicalURL}
			openGraph={
			  {
			  	basic: {
			  		url: canonicalURL,
            type: "website",
            title: ogpTitle,
			  		image: resolvedImageWithDomain
			  	},
			  	image: {
			  		alt: "miruoo's Blog Homepage Screenshot",
			  	},
					optional: {
						description: displayDescription
					}
			  }
			}
		 />
		<ViewTransitions />
	</head>
	<body class="bg-white dark:bg-zinc-900/95">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
