---
// import '../styles/global.css';
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import { SEO } from "astro-seo"

const { pageTitle } = Astro.props
const displayTitle = pageTitle ? `${pageTitle} | miruoo's Blog` : `miruoo's Blog`
// FIXME: configファイルへsiteオプション追加
// const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- TODO: OGP画像 -->
		<!--  FIXME: configファイルへsiteオプション追加 -->
		<!-- <SEO title={displayTitle} description="miruoo's Blog is Blog site about Web/Mobile Development tips" canonical={canonicalURL} /> -->
		<SEO title={displayTitle} description="miruoo's Blog is Blog site about Web/Mobile Development tips" />
	</head>
	<body class="bg-white dark:bg-zinc-900/95">
		<Header />
		<!-- <h1>{pageTitle}</h1> -->
    <slot />
		<Footer />
		<!-- <script>
			import "../scripts/menu.js";
		</script> -->
	</body>
</html>
